<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Capstones</title>
</head>
<body>
    
    {% if capstones %}
        <h1>Manage Capstones</h1>
        <ul>
            {% for capstone in capstones %}
                <li>{{ capstone.title }} by {{ capstone.author }} 
                <a href="{{ url_for('main.delete', capstone_id=capstone._id) }}" onclick="return confirm('Are you sure you want to delete this capstone?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No capstones found.</p>
    {% endif %}

    <a href="{{ url_for('main.admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>